body{
    margin:0;
}
.texto{
    width:500px;
    height: 200px;
    background-color: #EEEEEE;
    color: #FF0000;
    font-size: 20px;
    font-family: helvetica,verdana;
    font-weight: normal;
    text-align: center;
  }